@tailwind base;
@tailwind components;
@tailwind utilities;

#app,
body,
html {
  height: 100%;
}

/* 滚动条样式 */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* 滚动条滑块（里面小方块） */

*::-webkit-scrollbar-thumb {
  cursor: grabbing;
  border-radius: 10px;
  background: color-mix(in srgb, currentColor 10%, transparent); /* 混合透明 */
}

/* 滚动条轨道 */
*::-webkit-scrollbar-track {
  display: none;
}

* {
  scrollbar-color: initial !important;
}

* {
  scrollbar-gutter: initial !important;
}
input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
